.loader-dot {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.swipe-up {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
